@font-face {
    font-family: 'extent';
    src: url('../fonts/Existence-Light.otf');
}
body {
    background: #25252a;
}
.fr_title {
    font-family: 'extent';
    font-weight: 300;
    font-size: 4em;
    letter-spacing: .25em;
    color: white;
    text-transform: uppercase;
}
#zacharyzl {
    color: rgba(237, 237, 237, 1);
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .3s;
    /*-webkit-animation-iteration-count: infinite;*/
}
.fr_paragraph_text {
    font-family: helvetica Neue;
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.3em;
    text-align: center;
    letter-spacing: .4em;
    color: white
}
.fr_your_name {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fr_social_text {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fr_contacts {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fr_what_you_do {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fr_who_you_are {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fr_1st_block {
    float: none;
    display: block;
    background-color: #25252a;
    background-repeat: no-repeat;
    background-image: url('../pics/foxpics/foxframes-01.png_1600x1001.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 600px
}
.fr_2nd_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/fox-02.png_1600x1000.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px
}
.fr_3rd_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/fox-03.png_1600x1000.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px
}
.fr_4th_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/fox-04.png_1600x1000.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height: 400px
}
.fr_5th_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/fox-05.png_1600x1000.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px
}
.fr_6th_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/foxframes-06.png_1600x1000.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
}
#email {
    cursor: pointer;
    color: rgb(156, 152, 152);
    transition: 3s;
}
#email:hover {
    color: rgb(255, 255, 255);
}
.fr_7th_block {
    float: none;
    display: block;
    background-image: url('../pics/foxpics/foxframes-07.png_1600x1001.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
    position: relative;
}
#social {
    transform: translate3d(0, 200px, 0);
    opacity: 0;
    transition: all 1.5s;
}
#social.visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.bottombar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #25252a;
    font-weight: 100;
    font-family: 'helvetica';
    letter-spacing: .5em;
}
.maded {
    color: rgb(103, 103, 103);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 4s;
    font-size: .1em;
}
.maded:hover {
    color: rgb(255, 255, 255);
}
.resume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .1em;
}
.re {
    text-decoration: none;
    color: rgb(103, 103, 103);
    letter-spacing: .25em;
}
.bottombar:hover {
    color: rgb(250, 250, 250);
}
.icon {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: -150px;
    transform: translate3d(0, 150px, 0);
    opacity: 0;
    transition: all 1.5s;
}
.icon.visible {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
#icon1 {
    float: left;
    margin: 0 10px;
    opacity: .6;
    transition: all .6s;
    background-image: url('../pics/socialsvg/facebook-logo-button.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
#icon2 {
    float: left;
    margin: 0 10px;
    opacity: .6;
    transition: all .6s;
    background-image: url('../pics/socialsvg/twitter-logo-button.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
#icon3 {
    float: left;
    margin: 0 10px;
    opacity: .6;
    transition: all .6s;
    background-image: url('../pics/socialsvg/instagram-logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
#icon4 {
    float: left;
    margin: 0 10px;
    opacity: .6;
    transition: all .6s;
    background-image: url('../pics/socialsvg/google-plus-logo-button.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 50px;
}
#icon4:hover {
    opacity: 1;
    cursor: pointer;
}
#icon3:hover {
    opacity: 1;
    cursor: pointer;
}
#icon2:hover {
    opacity: 1;
    cursor: pointer;
}
#icon1:hover {
    opacity: 1;
    cursor: pointer;
}
@media screen and (max-width:480px) {
    .fr_title {
        line-height: 1em;
        font-size: 1.5em;
    }
    .fr_paragraph_text {
        font-size: .9em;
        letter-spacing: .2em
    }
    .fr_2nd_block {
        display: block;
        background-position: center center;
        background-size: cover;
        background-attachment: scroll
    }
    .fr_3rd_block {
        background-attachment: scroll
    }
    .fr_4th_block {
        background-position: center center;
        background-attachment: scroll
    }
    .fr_your_name {
        display: block;
        width: 60%;
        margin-top: 4.56em;
        margin-left: 20%
    }
    .fr_1st_block {
        vertical-align: top;
        background-attachment: scroll;
        min-height: 400px
    }
    .fr_social_text {
        display: block;
        margin-top: 2.5em
    }
    .fr_5th_block {
        background-position: center center;
        background-attachment: scroll
    }
    .fr_contacts {
        float: none;
        display: block;
        vertical-align: top;
        margin-top: 3.5em
    }
    .fr_6th_block {
        background-position: center center;
        background-attachment: scroll
    }
    .fr_7th_block {
        background-position: center center;
        background-attachment: scroll;
        min-height: 400px
    }
    .fr_what_you_do {
        margin-top: 3.5em
    }
    .fr_who_you_are {
        margin-top: 3.5em
    }
}
